<!-- header  -->
{{> partials/header }}
<!-- end header  -->

<!-- nav-bar clean  -->
{{> partials/navbar-clean }}
<!-- end nav-bar clean  -->

<!-- Content -->
<div class="container-fluid chlg-bg-form-novo-portal">
      <section id="chlg-form-novo-portal">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h1>Aceite o Desafio</h1>
                            <p class="chlg-news-tt-internal">Apresente sua solução para o desafio Novo Portal da Câmara dos Deputados</p>
                        </div>
                    </div>
                    <div class="row">
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p class="chlg-steps">Etapa 1 de 2</p>
                            <p class="chlg-desc-steps">Você vai apresentar a solução como</p>
                        </div>
                    </div>
                    <div class="row chlg-select-type">
                        <div class="col-md-6 chlg-pf-select">
                            <a class="chlg-lk-select" href="envia-form-pf.html">
                                <div class="row">
                                    <div class="col-md-5">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="chlg-pf-tt">Pessoa Física</p>
                                    </div>
                                </div>
                            </a>
                            <div class="row">
                                <p class="text-center">Sozinho ou em uma equipe</p>
                            </div>
                        </div>
                        <div class="col-md-6 chlg-pj-select">
                            <a class="chlg-lk-select" href="envia-form-pj.html">
                                <div class="row">
                                    <div class="col-md-5">
                                        <i class="fa fa-building" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="chlg-pf-tt">Pessoa Jurídica</p>
                                    </div>
                                </div>
                            </a>
                            <div class="row">
                                <p class="text-center">Empresa</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>
<!-- end content  -->

<!-- Footer  -->
{{> partials/footer }}
