<!-- partial:partials/scripts-home.mustache -->
{{> partials/scripts-home }}
<!-- partial -->

<!-- partial:partials/g-analytics.mustache -->
{{> partials/g-analytics }}
<!-- partial -->

<!--validação rodapé acessibilidade role="contentinfo"-->
<div class="container-fluid" id="chlg-footer" role="contentinfo">
    <section class="chlg-bg-footer">
        <h2 class="sr-only">>Contato e localização</h2>
        <div class="container">
            <div class="row chlg-text-footer">
                <div class="col-md-2 col-sm-12">
                    <i class="chlg-logo-challenge"></i>
                </div>
                <div class="col-md-8 col-sm-12">
                    <p class="chlg-footer-tt text-muted"><strong>DESAFIO.LEG.BR</strong></p>
                    <p class="chlg-footer-desc text-muted">Câmara dos Deputados - Palácio do Congresso Nacional<br>Praça dos Três Poderes - Brasília - DF</p>
                    <p class="chlg-footer-desc text-muted">CEP 70160-900 - E-mail: contato@desafio.camara.leg.br</p>
                </div>
                <div class="col-md-2 col-sm-12">
                    <a href="http://www2.camara.leg.br/"><i class="chlg-logo-camara"></i><span class="sr-only">Câmara dos
    Deputados (link externo)</span></a>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- end body -->
</body>

</html>
