<!DOCTYPE html>
<html lang="pt-BR">
<!-- partial:partials/head-home.html -->

<head>
    <title>Desafio.leg.br</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/img/dev-logos/desafio-fb.png" />
    <meta name="keywords" content="desafio, desafio.leg, desafio.leg.br, camara, parlamentar, governo, cidadania, participação popular, câmara dos deputados, concurso, concurso câmara, ideia inovadora.">
    <meta name="robots" content="index, follow">
    <meta name="description" content="É um convite à inovação e à participação popular feito pela Câmara dos Deputados. Cidadãos são estimulados a propor soluções para desafios reais do Poder Legislativo, podendo ganhar prêmios incríveis. Qualquer pessoa pode participar das competições – independentemente de idade ou experiência. Aceite o desafio de transformar o Poder Legislativo com uma ideia inovadora!">
    <link rel="shortcut icon" href="/img/icons/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/css-components.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/customized.min.css" />
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>-->
</head>
<!-- partial -->
<body>

<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
