<!-- partial:../../partials/navbar-clean.html -->
<div class="container-fluid chlg-clean-navbar">
      <nav class="navbar">
          <div class="container">
              <div class="navbar-header">
                  <a class="navbar-brand" href="/">
                      <i id="chlg-logomarca" class="chlg-logo-camara-int img-responsive"></i>
                  </a>
              </div>
          </div>
      </nav>
</div>
