<script src="/js/vendor.js"></script>
<noscript>Seu browser não tem suporte a javascript!</noscript>
<script src="/js/all-scripts.min.js"></script>
<noscript>Seu browser não tem suporte a javascript!</noscript>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
<noscript>Seu browser não tem suporte a javascript!</noscript>
