<!-- header  -->
{{> partials/header }}
<!-- navbar-clean  -->
{{> partials/navbar-clean }}
<!-- content -->
<div class="container-fluid chlg-faq-portal-camara-bg">
        <div class="container chlg-faq-portal-camara">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="chlg-faq-tt">Avisos, esclarecimentos e impugnações</h1>
                    <p class="chlg-faq-sbtt">Desafio Novo Portal da Câmara</p>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2>Avisos</h2>
                    {{^avisos}}
                      <div class="alert alert-info" role="alert">
                          <p>Nenhum aviso publicado.</p>
                      </div>
                    {{/avisos}}

                    {{#avisos}}
                        <div class="accordion" id="chlg-accordion">
                            {{#avisos}}
                                <div class="chlg-faq-questions-bar" data-toggle="collapse" data-target="#collapsible-{{id}}" data-parent="#chlg-accordion">
                                    <span class="icon-change glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        {{title.rendered}}
                                </div>
                                <div id="collapsible-{{id}}" class="collapse">
                                    <div class="chlg-faq-pad">
                                          <p>{{{content.rendered}}}</p>
                                    </div>
                                </div>
                            {{/avisos}}
                        </div>
                    {{/avisos}}
                    <hr>

                    <h2>Esclarecimentos</h2>
                    {{#esclarecimentos}}
                          <div class="accordion" id="chlg-accordion1">

                              <div class="chlg-faq-questions-bar" data-toggle="collapse" data-target="#collapsible-{{id}}" data-parent="#chlg-accordion1">
                                  <span class="icon-change glyphicon glyphicon-plus" aria-hidden="true"></span>
                                  {{title.rendered}}
                              </div>
                              <div id="collapsible-{{id}}" class="collapse">
                                  <div class="chlg-faq-pad">
                                      <p>{{{content.rendered}}}</p>
                                  </div>
                              </div>

                          </div>
                    {{/esclarecimentos}}

                    {{^esclarecimentos}}
                        <div class="alert alert-info" role="alert">
                            <p>Nenhum esclarecimento publicado.</p>
                        </div>
                    {{/esclarecimentos}}

                    <hr>
                    <h2>Impugnações</h2>
                    {{^impugnacoes}}
                    <div class="alert alert-info" role="alert">
                        <p>Nenhuma impugnação publicada.</p>
                    </div>
                    {{/impugnacoes}}

                    {{#impugnacoes}}
                        <div class="accordion" id="chlg-accordion2">
                            {{#impugnacoes}}
                                <div class="chlg-faq-questions-bar" data-toggle="collapse" data-target="#collapsible-{{id}}" data-parent="#chlg-accordion2">
                                    <span class="icon-change glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        {{title.rendered}}
                                </div>
                                <div id="collapsible-{{id}}" class="collapse">
                                    <div class="chlg-faq-pad">
                                          <p>{{{content.rendered}}}</p>
                                    </div>
                                </div>
                            {{/impugnacoes}}
                        </div>
                    {{/impugnacoes}}
                </div>
            </div>
        </div>
    </div>
<!-- end content  -->

<!-- Footer -->
{{> partials/footer }}
