<!-- header  -->
{{> partials/header }}

<!-- navbar-clean  -->
{{> partials/navbar-clean }}

<!-- content -->
<div class="container-fluid chlg-faq-app-legislative-bg">
            <div class="container chlg-faq-app-legislative">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="chlg-faq-tt">Perguntas Frequentes</h1>
                        <p class="chlg-faq-sbtt">Desafio App Legislativo 2017</p>
                    </div>
                </div>
                <div class="row">
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                          <!-- Perguntas frequentes  -->
                          {{#result}}
                              <div class="accordion" id="chlg-accordion">
                                  <div class="chlg-faq-questions-bar" data-toggle="collapse" data-target="#collapsible-{{id}}" data-parent="#chlg-accordion">
                                      {{title.rendered}}
                                      <span class="icon-change glyphicon glyphicon-plus" aria-hidden="true"></span>
                                  </div>

                                  <div id="collapsible-{{id}}" class="collapse">
                                      <div class="chlg-faq-pad">
                                          <p>{{{content.rendered}}}</p>
                                      </div>
                                  </div>
                              </div>
                          {{/result}}

                            {{^result}}
                                <div class="alert alert-info" style="text-align: center;">
                                    <!-- <strong>Atenção !</strong> -->
                                    Não foi possível carregar as perguntas frequentes.
                                </div>
                            {{/result}}

                        <div class="chlg-msg-send-email">
                            <p class="text-center">Sua dúvida não foi respondida? Leia o
                                <a class="chlg-contact" href="/doc/edital_app_legislativo_2017.pdf" target="_blank">edital do desafio</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- Footer -->
{{> partials/footer }}
