<!-- header  -->
{{> partials/header }}

<!-- Content  -->
    <div class="container-fluid chlg-bg-banner-app">
        <section id="chlg-app-banner">
            <div class="container">
                <div class="row">
                    <h2 class="sr-only">Desafio App Legislativo com dados abertos</h2>
                    <div class="col-md-12">
                        <a href="/"><i class="chlg-brand"></i></a>
                        <p class="chlg-slogan-app">App Legislativo 2017<br>com Dados Abertos</p>
                        <p class="chlg-value-app">
                            R$ 50<span class="chlg-text-money-app">mil</span><br>
                            <span class="chlg-value-desc-app">em prêmios</span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container-fluid">
        <section id="chlg-app-requirements" role="main">
            <div class="container">
                <div class="row">
                    <h2 class="text-center">O que é o Desafio App Legislativo 2017?</h2>
                    <p class="chlg-desc-section text-center">É uma competição com o objetivo de promover e elevar a qualidade da produção tecnológica de aplicativos para dispositivos móveis que abordem temas do Poder Legislativo.</p>
                    <div class="col-md-4 chlg-app-requirements-itens">
                        <i class="chlg-item-app-one"></i>
                        <p class="chlg-tt-app-req text-center"><strong>Dados Abertos</strong></p>
                        <p class="chlg-des-app-req text-center">O aplicativo deve utilizar os Dados Abertos da Câmara dos Deputados</p>
                    </div>
                    <div class="col-md-4 chlg-app-requirements-itens">
                        <i class="chlg-item-app-two"></i>
                        <p class="chlg-tt-app-req text-center"><strong>Tema Legislativo</strong></p>
                        <p class="chlg-des-app-req text-center">O tema do aplicativo é<br>Processo Legislativo</p>
                    </div>
                    <div class="col-md-4 chlg-app-requirements-itens">
                        <i class="chlg-item-app-three"></i>
                        <p class="chlg-tt-app-req text-center"><strong>Publique seu App</strong></p>
                        <p class="chlg-des-app-req text-center">Publique seu app nas lojas<br>nacionais e internacionais</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container-fluid chlg-app-awards-bg hidden-xs">
        <section class="chlg-app-awards">
            <div class="container">
                <div class="row">
                    <h2 class="text-center">Premiação</h2>
                    <p class="chlg-desc-section text-center">As três melhores soluções serão premiadas de acordo com os critérios<br>elencados no edital da competição.</p>
                    <div class="col-md-12">
                        <i class="chlg-app-awards-ranking-off" id="chlg-img-app-ranking"></i>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container-fluid chlg-app-awards-bg visible-xs">
        <section class="chlg-app-awards">
            <div class="container">
                <div class="row">
                    <h2 class="text-center">Premiação</h2>
                    <p class="chlg-desc-section text-center">As três melhores soluções serão premiadas de acordo com os critérios elencados no edital da competição.</p>
                    <div class="col-md-4">
                        <i class="chlg-app-awards-ranking-on-01"></i>
                    </div>
                    <div class="col-md-4">
                        <i class="chlg-app-awards-ranking-on-02"></i>
                    </div>
                    <div class="col-md-4">
                        <i class="chlg-app-awards-ranking-on-03"></i>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container-fluid chlg-app-timeline-bg">
        <section id="chlg-app-timeline">
            <div class="container">
                <div class="row">
                    <h2 class="text-center">Linha do Tempo</h2>
                    <div class="col-md-12">
                        <div id="xprize-timeline">
                            <div id="center-line"></div>
                            <ol class="event-container">
                                <li class="event-wrapper odd">
                                    <div class="event-marker"></div>
                                    <div class="event-date">16/06/2017</div>
                                    <div class="event-text">Publicação do edital</div>
                                </li>
                                <li class="event-wrapper even">
                                    <div class="event-marker"></div>
                                    <div class="event-date">26/06/2017 a 25/08/2017</div>
                                    <div class="event-text">Envio dos trabalhos</div>
                                </li>
                                <li class="event-wrapper odd">
                                    <div class="event-marker"></div>
                                    <div class="event-date">Até 15/09/2017</div>
                                    <div class="event-text">Avaliação e classificação dos trabalhos</div>
                                </li>
                                <li class="event-wrapper even">
                                    <div class="event-marker"></div>
                                    <div class="event-date">Até 20/09/2017</div>
                                    <div class="event-text">Divulgação do resultado parcial</div>
                                </li>
                                <li class="event-wrapper odd">
                                    <div class="event-marker"></div>
                                    <div class="event-date">Até 27/09/2017</div>
                                    <div class="event-text">Prazo para apresentação de recursos</div>
                                </li>
                                <li class="event-wrapper even">
                                    <div class="event-marker"></div>
                                    <div class="event-date">Até 04/10/2017</div>
                                    <div class="event-text">Prazo para decisão dos recursos</div>
                                </li>
                                <li class="event-wrapper odd">
                                    <div class="event-marker"></div>
                                    <div class="event-date">Até 11/10/2017</div>
                                    <div class="event-text">Homologação do concurso e publicação do resultado final</div>
                                </li>
                                <li class="event-wrapper even">
                                    <div class="event-marker"></div>
                                    <div class="event-date">Até 30/10/2017</div>
                                    <div class="event-text">Assinatura do Termo de Compromisso e do Termo de Cessão Total de direitos Patrimoniais.</div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
     </div>
    <div class="container-fluid chlg-app-notice-bg">
        <section id="chlg-app-notice">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row chlg-bg-edital">
                            <div class="chlg-lk-edital">
                                <a href="/desafios/app-legislativo/aceite-o-desafio">
                                    <div class="col-md-2 col-sm-2">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-md-10 col-sm-10">
                                        <h2>Aceite o Desafio</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <p class="text-center">Inscrição aberta</p>
                    </div>
                    <div class="col-md-6">
                        <div class="row chlg-rules-content">
                            <a href="/doc/edital_app_legislativo_2017.pdf" target="_blank">
                                <div class="col-md-2 col-sm-2">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-10 col-sm-10 chlg-rules">
                                    <h2>Conheça o regulamento</h2>
                                    <p>Edital de retificação 01/2017</p>
                                    <p>Formato PDF, tamanho 494 KB</p>
                                </div>
                            </a>
                        </div>

                        <div class="row chlg-faq-contents">
                            <a href="/desafios/app-legislativo/avisos-esclarecimentos-impugnacoes">
                                <div class="col-md-2 col-sm-2">
                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-10 col-sm-10 chlg-cp-faq">
                                    <h2>Avisos, Esclarecimentos e impugnações</h2>
                                </div>
                            </a>
                        </div>
                        <div class="row chlg-faq-content">
                            <a href="/desafios/app-legislativo/faq">
                                <div class="col-md-2 col-sm-2">
                                    <i class="fa fa-comment" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-10 col-sm-10 chlg-cp-faq">
                                    <h2>Perguntas Frequentes</h2>
                                </div>
                            </a>
                        </div>
                        <div class="row chlg-img-content">
                            <a href="/img/dev-logos/logos.zip">
                                <div class="col-md-2 col-sm-2">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-10 col-sm-10">
                                    <h2>Imagens Desafio</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
<!-- End content -->

<!-- newslatter -->
{{> partials/newslatter-home }}
<!-- Footer -->
{{> partials/footer }}
