<!-- header  -->
{{> partials/header }}

<!-- Content  -->
  <header role="banner" class="sr-only">
        <h1>Desafio.leg.br</h1>
        <div id="barraAcessibilidade">
            <p>Barra de Acessibilidade</p>
            <ul>
                <li>
                    <a accesskey="1" href="#anchor1">
                      Ir para conteúdo [1]
                    </a>
                </li>
            </ul>
        </div>
  </header>
  <div class="container-fluid chlg-bg-banner">
        <section id="chlg-introduction">
            <h2 class="sr-only">Suas soluções para o seu legislativo</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a href="index.html"><i class="chlg-brand"></i><span class="sr-only">Desafio.leg.br</span></a>
                        <p class="chlg-slogan">
                            Suas soluções para<br>seu legislativo
                        </p>
                        <div class="chlg-lk-more">
                            <a class="chlg-text-lk" href="#anchor1">
                                    Saiba mais
                                </a>
                        </div>
                        <p class="chlg-value">
                            R$ 350<span class="chlg-text-money">mil</span><br>
                            <span class="chlg-value-desc">em prêmios</span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container-fluid chlg-bg-awards">
        <section id="chlg-awards">
            <div class="container">
                <div class="row">
                    <h2 class="text-center">E se você pudesse ajudar a vencer os desafios do Legislativo?</h2>
                    <ul>
                        <li class="col-md-6 chlg-list-awards-app">
                            <a href="desafios/app-legislativo">
                                <div class="row">
                                    <div class="col-md-5">
                                        <i class="chlg-icon-app"></i>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="chlg-tt">App Legislativo 2017 com Dados Abertos</p>
                                        <p class="chlg-value-awards">R$ 50mil</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-md-6 chlg-list-awards-portal">
                            <a href="desafios/novo-portal">
                                <div class="row">
                                    <div class="col-md-5">
                                        <i class="chlg-icon-portal"></i>
                                    </div>
                                    <div class="col-md-7">
                                        <p class="chlg-tt">Novo Portal da Câmara dos Deputados</p>
                                        <p class="chlg-value-awards">R$ 300mil</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="container-fluid chlg-bg-more parallax-window" id="anchor1" data-parallax="scroll">
        <!--descrição do conteudo principal - acessibilidade-->
        <section id="chlg-more" role="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2 class="chlg-tt-sections text-center">O que é Desafio.leg.br?</h2>
                        <p class="text-center">É um convite à inovação e à participação popular feito pela Câmara dos Deputados. Cidadãos são estimulados a propor soluções para desafios reais do Poder Legislativo, podendo ganhar prêmios incríveis. Qualquer pessoa pode participar das competições – independentemente de idade ou experiência. Aceite o desafio de transformar o Poder Legislativo com uma ideia inovadora!</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container-fluid chlg-bg-how-to-participate">
        <section id="chlg-how-to-participate">
            <div class="container">
                <div class="row">
                    <h2 class="text-center">Como Participar</h2>
                    <!--<div class="chlg-line-section"></div>-->
                    <p class="chlg-part-tt-top text-center">Existem três formas de participar de um desafio.</p>
                    <div class="col-md-12">
                        <div class="row">
                            <ul>
                                <li class="col-md-4" id="chlg-individually-bg">
                                    <i class="chlg-indi chlg-participate-individually-off"></i>
                                    <p class="chlg-part-tt text-center"><strong>Individualmente</strong></p>
                                    <p class="chlg-part-des text-center">Você pode participar de um desafio individualmente. Para isso, é necessário apresentar seus dados pessoais e documentação.</p>
                                </li>
                                <li class="col-md-4" id="chlg-team-bg">
                                    <i class="chlg-team chlg-participate-team-off"></i>
                                    <p class="chlg-part-tt text-center"><strong>Equipes</strong></p>
                                    <p class="chlg-part-des text-center">As equipes podem ser compostas de 2 a 12 participantes. Um dos membros da equipe será designado seu representante legal.</p>
                                </li>
                                <li class="col-md-4" id="chlg-company-bg">
                                    <i class="chlg-part chlg-participate-company-off"></i>
                                    <p class="chlg-part-tt text-center"><strong>Pessoa Jurídica</strong></p>
                                    <p class="chlg-part-des text-center">Empresas devem apresentar os documentos necessários e designar uma pessoa física com vínculo empregatício como coordenador.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Partial noticias  -->
    <div class="container-fluid chlg-bg-news">
        <section id="chlg-news">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">Notícias</h2>
                        {{#existsNews}}
                            <div class="row chlg-container-news">
                              <!-- Noticias container  -->

                              {{#ultimaNoticia}}
                                  <div class="col-md-6 chlg-news-one-bg">

                                      <div class="tint" >
                                          {{#slug}}
                                          <a href="noticia?identificador={{slug}}" title="Clique aqui para visualizar a notícia">
                                          {{/slug}}

                                          {{^slug}}
                                          <a href="#">
                                          {{/slug}}

                                                {{#featured_image_src}}
                                                    <img class="chlg-news-images img-responsive" src="{{featured_image_src}}" alt=""/>
                                                {{/featured_image_src}}

                                                {{^featured_image_src}}
                                                        <img class="chlg-news-images img-responsive" src="/img/images/campus-party-00.jpg" alt=""/>
                                                {{/featured_image_src}}

                                                <p class="chlg-txt-title">
                                                  {{title.rendered}}
                                                </p>

                                                <p class="chlg-txt-des">
                                                    {{content.rendered}}
                                              </p>
                                          </a>
                                      </div>
                              </div>
                              {{/ultimaNoticia}}

                              <div class="col-md-6">
                                      <div class="row">
                                          {{#outrasNoticias}}
                                          <div class="col-md-12 chlg-news-two-bg">
                                              <div class="tint2">
                                                  <a href="noticia?identificador={{slug}}" title="Clique aqui para visualizar a notícia">
                                                          {{#featured_image_src}}
                                                              <img class="chlg-news-images img-responsive" src="{{featured_image_src}}" alt=""/>
                                                          {{/featured_image_src}}

                                                          {{^featured_image_src}}
                                                                  <img class="chlg-news-images img-responsive" src="/img/images/app-00.jpg" alt=""/>
                                                          {{/featured_image_src}}

                                                          <!-- <img class="chlg-news-images img-responsive" src="img/images/portal-00.jpg" alt=""/> -->
                                                          <p class="chlg-txt-title">{{title.rendered}}</p>

                                                      </a>
                                              </div>
                                          </div>
                                          {{/outrasNoticias}}
                                      </div>
                               </div>
                              <!-- End noticias container  -->
                            </div>
                        {{/existsNews}}

                        {{^existsNews}}
                              <div class="alert alert-danger" style="text-align: center;">
                                  <strong>Atenção !</strong>
                                  Serviço de notícias indisponível.
                              </div>
                        {{/existsNews}}

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <a href="/" class="chlg-btn-more-news">Mais notícias</a>
                        <!-- <p class="chlg-btn-more-news">Mais notícias</p> -->
                    </div>
                </div>
            </div>
        </section>
    </div>
<!-- End content  -->

<!-- newslatter -->
{{> partials/newslatter-home }}

<!-- Footer -->
{{> partials/footer }}
<!-- End Partials  -->
