<!-- header  -->
{{> partials/header }}

<!-- navbar-clean  -->
{{> partials/navbar-clean }}

<!-- content -->
  <div class="container-fluid chlg-bg-envia-form-app-legislative">
      <section id="chlg-envia-form-app-legislative">
          <div class="container">
              <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                      <h1>Aceite o Desafio</h1>
                  </div>
              </div>
              <div class="row">
                  <hr>
              </div>
              <!-- <div th:include="fragments/front :: erroFormulario"></div> -->
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <p class="chlg-steps">Etapa 2 de 2</p>
                      <p class="chlg-desc-steps">Apresentando sua solução como pessoa jurídica.</p>
                      <p class="chlg-desc-section"><strong class="text-success">DADOS DA EMPRESA</strong></p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <form class="chlg-send-app-pj" action="/forms/app-legislativo/envia-form-pj" method="post" enctype="multipart/form-data">
                          <div class="form-group">
                              <label for="company">Nome da empresa</label>
                              <input type="text" class="form-control" id="company" name="nome">
                          </div>
                          <div class="form-group">
                              <label for="cnpj">CNPJ</label>
                              <input type="text" class="form-control" id="cnpj" name="cnpj" maxlength="14">
                          </div>
                          <div class="form-group">
                              <label for="email">E-mail</label>
                              <input type="email" class="form-control" id="email" name="email">
                          </div>
                          <div class="form-group chlg-resize-form">
                              <div class="row">
                                  <div class="col-md-6 col-xs-12">
                                      <label for="phone1">Telefone</label>
                                      <input type="text" class="form-control" id="phone1" name="telefone1" maxlength="11">
                                  </div>
                                  <div class="col-md-6 col-xs-12">
                                      <label for="phone2">Telefone</label>
                                      <input type="text" class="form-control" id="phone2" name="telefone2" maxlength="11">
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="endereco">Endereço</label>
                              <input type="text" class="form-control" id="endereco" name="endereco">
                          </div>
                          <div class="form-group chlg-resize-form">
                              <div class="row">
                                  <div class="col-md-6 col-xs-12">
                                      <label for="cidade">Cidade</label>
                                      <input type="text" class="form-control" id="cidade" name="cidade">
                                  </div>
                                  <div class="col-md-2 col-xs-12">
                                      <label for="uf">UF</label>
                                      <select name="uf" class="form-control chlg-ufs">
                                              <option value=""> </option>
                                              <option value="AC">AC</option>
                                              <option value="AL">AL</option>
                                              <option value="AP">AP</option>
                                              <option value="AM">AM</option>
                                              <option value="BA">BA</option>
                                              <option value="CE">CE</option>
                                              <option value="DF">DF</option>
                                              <option value="ES">ES</option>
                                              <option value="GO">GO</option>
                                              <option value="MA">MA</option>
                                              <option value="MG">MG</option>
                                              <option value="MS">MS</option>
                                              <option value="MT">MT</option>
                                              <option value="PA">PA</option>
                                              <option value="PB">PB</option>
                                              <option value="PE">PE</option>
                                              <option value="PI">PI</option>
                                              <option value="PR">PR</option>
                                              <option value="RJ">RJ</option>
                                              <option value="RN">RN</option>
                                              <option value="RO">RO</option>
                                              <option value="RR">RR</option>
                                              <option value="RS">RS</option>
                                              <option value="SC">SC</option>
                                              <option value="SE">SE</option>
                                              <option value="SP">SP</option>
                                              <option value="TO">TO</option>
                                          </select>
                                  </div>
                                  <div class="col-md-4 col-xs-12">
                                      <label for="cep">CEP</label>
                                      <input type="text" class="form-control" id="cep" name="cep" maxlength="8">
                                  </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="coordenador">Nome do Coordenador <span class="chlg-desc-coordenador">(Responsável por representar a empresa)</span></label>
                              <input type="text" class="form-control" id="coordenador" name="coordenador">
                          </div>
                          <div class="form-group">
                              <p class="chlg-desc-section">
                                  <strong class="text-success">TRABALHO</strong> - Você pode enviar até dois trabalhos, se estiver submetendo seu segundo trabalho indique abaixo.
                              </p>
                          </div>
                          <div class="form-group">
                              <label class="radio-inline">
                                      <input class="chlg-radio-btn" type="radio" name="numTrabalho" value="1" checked/> <span class="chlg-sel-trabalho">1º Trabalho</span>
                                  </label>
                              <label class="radio-inline">
                                      <input class="chlg-radio-btn" type="radio" name="numTrabalho" value="2" /> <span class="chlg-sel-trabalho">2º Trabalho</span>
                                  </label>
                          </div>
                          <div class="form-group">
                              <p class="chlg-mg-text" id="arquivo-cp-app-pj">
                                  Arquivo compactado (.zip ou .rar) contendo todos os documentos elencados no Anexo 8 do edital do App Legislativo 2017.
                              </p>
                          </div>
                          <div class="form-group">
                              <div class="row">
                                  <div class="col-xs-6">
                                      <label for="inputfile" class="sr-only">Arquivo compactado</label>
                                      <input class="chlg-input-extra" type="file" id="inputfile" name="arquivo" accept=".zip,.rar" data-bv-file="true" data-bv-file-maxsize="10485760" data-fv-file-message="Arquivo inválido" aria-describedby="arquivo-cp-app-pj">
                                  </div>
                                  <div class="col-xs-6"></div>
                              </div>
                          </div>
                          <hr>
                          <button type="submit" class="btn btn-warning btn-lg">Enviar</button>
                      </form>
                  </div>
              </div>
          </div>
      </section>
  </div>
<!-- End content  -->

<!-- Footer -->
{{> partials/footer }}
